.head {
  row-gap: var(--s-5);
  margin-block-end: var(--s-9);
}

.label {
  grid-column: 1 / span 3;
}

.subtitle {
  grid-column: 4 / span 6;
  max-width: 30ch;
}

.list {
  display: block;
}

@media (max-width: 767px) {
  .subtitle {
    margin-block-start: var(--s-4);
  }
  .head {
    margin-block-end: var(--s-8);
  }
}
